@{
ViewBag.Title = "About Me";
}

<div>
    <h1 class="display-4 text-center">@ViewData["Title"]</h1>
    
    
    <h2>About Me - Nguyen Dang Trinh</h2>
    <ul>
        <li>Email: dangtrinh3006@gmail.com</li>
        <li>Phone: 0834-021-123</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/dangtrinh36">dangtrinh36</a></li>
        <li>Github: <a href="https://github.com/dangtrinh3006">dangtrinh3006</a></li>
        <li>Website: <a href="https://nguyendangtrinh.me">nguyendangtrinh.me</a></li>
    </ul>

    <h2>Education</h2>
    <ul>
        <li>Bachelor of Science in Computer Science, Ton Duc Thang University, Ho Chi Minh City, VN, Expected Sep. 2023</li>
        <li>GPA: 3.38 (8.46/10)</li>
    </ul>

    <h2>Technical Skills</h2>
    <ul>
        <li>Languages: Java, C, C#, Python, HTML/CSS, Javascript, Typescript, PHP, Bash.</li>
        <li>Frameworks/Platforms: Node.js, Express.js, Laravel, Flask, .NET Framework, Angular.</li>
        <li>Databases: MySQL, MS SQL, MongoDB, Firebase.</li>
        <li>Technology: Git, Github, Gitlab, Bitbucket, Heroku, Docker.</li>
    </ul>

    <h2>About Me</h2>
    <p>I am currently a final year student at Ton Duc Thang University. I have spent 4 years during my university time studying hard and improving my skills in Computer Science. I love and frequently work with backend systems, but I'm also very open to other related job positions.</p>
    <p>I am always working on at least one side project, so I can continue to learn new things and grow as a developer. I am looking for an opportunity to work in a place where I get to code, solve interesting problems, design solutions and grow as a developer. My goal is to become a professional DevOps developer.</p>
    <p>I am living in Ho Chi Minh City.</p>

    <h2>Certificates</h2>
    <ul>
        <li>English: B1 Preliminary</li>
    </ul>

    <h2>Awards</h2>
    <ul>
        <li>Scholarships: Encouraging Study 2020 - 2021: Study Good - Training Evaluation Excellent</li>
    </ul>

</div>